@font-face {
	font-family: 'CamcorderINV';
	src: url('camcorder_inv-webfont.eot');
	src: url('camcorder_inv-webfont.eot?#iefix') format('embedded-opentype'),
		url('camcorder_inv-webfont.woff') format('woff'),
		url('camcorder_inv-webfont.ttf') format('truetype'),
		url('camcorder_inv-webfont.svg') format('svg');
}